<h2>What is this?</h2>
<p>A tool to help create widgets to showcase your FirstGiving campaigns.</p>
<h2>Why do I need it?</h2>
<p>FirstGiving doesn't (currently) provide any way of showing fundraiser progress on your own website. This tool allows you to enter the URLs to your FirstGiving fundraiser pages and generates a widget (by screen scraping the fundraiser pages) that you can embed on your website.</p>
<h2>How does it work?</h2>
<p>FGWidgets allows you to create "trackers" (groups of fundraising pages to track) and generates a page that gets embedded on your site into an iframe.  The page cycles through your specified fundraisers using the jQuery Cycle plugin so that each fundraiser gets equal eye time on your site.  XML feeds are also available for each tracker if you don't like the widget that we provide.  Of course, since it's on Github, you can just customize the application itself and deploy it locally. ;-)</p>
<h2>What does it look like?</h2>
<p>Something like this...</p>
<iframe width="500px" height="250px" frameborder="0" src="http://fgwidgets.stillcompiling.com/trackers/1"></iframe>
<h2>How can I get a widget of my own?</h2>
<p>Just <%= link_to 'sign up', new_user_registration_url %> for our free service!</p>