<h2>What is this?</h2>
<p>A tool to help create widgets to showcase your FirstGiving campaigns.</p>
<h2>Why do I need it?</h2>
<p>FirstGiving (currently) doesn't provide any way of showing fundraiser progress on your own website.  This tool allows you to enter the URLs to your FirstGiving fundraiser pages and generates a widget that you can embed on your website.</p>
<h2>What does it look like?</h2>
<p>Something like this...</p>
<iframe width="500px" height="250px" frameborder="0" src="http://fgwidgets.stillcompiling.com/trackers/1"></iframe>
<h2>How can I get a widget of my own?</h2>
<p>Just <%= link_to 'sign up', new_user_registration_url %> for our free service!</p>