<h2>Your Trackers</h2>

<ul>
<% @trackers.each do |tracker| %>
	<li><%= link_to tracker.name, edit_tracker_path(tracker) %></li>
<% end %>
</ul>

<br />

<%= link_to 'New Tracker', new_tracker_path %>
